.body {
    background-color: #F2F2F2;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar {
   background-color:lightslategrey; 
   padding: 2%;
   text-decoration: none;
   justify-content: flex-end;

}

.primary-title {
    text-decoration: none;
    font-weight: bold;
    color:midnightblue;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    font-style: italic;

}


.primary-navbar {
    display:flex;
    justify-content: flex-end;
    position: relative;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
   
   

}

.Name {
    color:turquoise;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    
    
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:navajowhite;
  }

a {
    text-decoration:underline;
    font-size: 40px;
    color: navajowhite;
    padding: 20px 100px;
    
}

.primary-resume {
    margin:2%;
    flex: 4;
  background-color:grey;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.card {
    flex: 1 0 0;
    padding:10px;
    width: 250px;
    text-align: center;
    border-style: solid black;
    border-width: 1px;
}



.card header {
    padding: 20px;
    background: cadetblue;
    color: white;
    

}


.card  {
    
    position: relative;
    background-color:steelblue;
    width:fit-content;
   

}

.card :before{
    position:absolute;
    content: "  ";
    background-image: url("  ");
    opacity: 0.3;
    background-blend-mode: screen ;

}





.primary-resume2 {
    background-color:steelblue;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em 5em;
    text-transform: uppercase;
    letter-spacing: .5em;
    
}

.Work {
    background-color:darkgrey;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
    text-transform: uppercase;
    letter-spacing: .5em;
}



.Resume {
    background-color:steelblue;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
    text-transform: uppercase;
    letter-spacing: .5em;
}

section {
    padding: 4em 2em;
}

h1 {
    position: relative;
    justify-content:left;
    margin: 4vw ;
    padding: 4vw;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    
}

p {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .1em;
}

.contact-section {
    background-color:navajowhite;
    color: black;
    display: grid;
    text-align: left;
    padding: 4em 5em;
    text-transform: uppercase;
    letter-spacing: .5em;
}

h2 {
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    color:black;
}

label {
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    font-style: oblique;
}

input {
    height: 3em;
}


footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
    font-size: 70px;
  }


@media screen and (max-width: 768px) {
    .primary-resume{
      display: grid;
      grid-template-columns: 40% auto;
    }
    .navbar {
        display: center;
        text-align: center;

    }
    .body {
      max-width: 1200px;
    }
  }







